{% extends 'base.html' %} {% block content %} {% load static %}

    <h1>Welcome to <i>What The RP?!</i></h1>
    <div class="row">
        <div class="col-md">
        <p>What The RP is a simple “this or that” style quiz with the goal being to help you decide what class you should play in Dungeons & Dragons. 
            You will make a series of choices and once a threshold is met, the class most relevant to your selections will be presented to you. This means that whatever class you get, it is one that closely aligned with your style of play and the actions that were most appealing to you. 
            Only a small selection of the entire catalogue of spells and abilities is currently included however at the very least, your result will be able to act as a guide on what might be worth checking out next!</p>
        </div>
    </div>


{% endblock %}