{% extends 'base.html' %} {% block content %} {% load static %}

    <h1 class="landing-title">Welcome to <i>What The RP?!</i></h1>
    <div class="row">
        <div class="col-md landing-blurb">
        <p>What The RP is a simple “this or that” style quiz with the goal of helping you decide what class you should play in Dungeons & Dragons. 
            You will make a series of choices and once a threshold is met, the class most relevant to your selections will be presented to you. This means that whatever class you discover, is one that closely aligned with your style of play and the actions that were most appealing to you. 
            Only a small selection of the entire catalogue of spells and abilities are currently included however, your result will still be able to act as an indicator on what might be worth checking out next!</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <a class="btn btn-styling" href="{% url 'quiz' %}">Start the quiz!</a>
        </div>
    </div>


{% endblock %}