{% extends 'base.html' %} {% block content %}

<div class="container">
    <h1> This is the spells page </h1>
    <div class="row">
        {% for spell in randomspells %}
        <div class="col-6">
            <p>Name: {{ spell.name }}</p>
            <p>Class: {{ spell.class_type }}</p>
            <p>Level: {{ spell.level }}</p>
            <p>Points: {{ spell.points }}</p>
            <p>Description: {{ spell.comical_description }}</p>
            <p>{{ spell.fantasy_universe }}</p>
            <a href="{% url 'index' spell.id %}" class="btn btn-default">Select</a>
        </div>
        {% endfor %}
    </div>
    {% if prev_selection %}
        <p>You recently chose: {{ prev_selection }}</p>
    {% else %}
        <p>Make a selection</p>
    {% endif %}
</div>
{% endblock %}