{% extends 'base.html' %} {% block content %}

<div class="container">
    <div class='row'>
        <div class='col text-center'>
            <h1> This is the spells page </h1>
        </div>
   </div>
   <div class='row'>
        <div class="col text-center">
            {% if result_message %}
                <a href="{% url 'result' class_type %}" class="btn btn-default">{{ result_message }}. </a>
            {% elif no_result %}
                {{ no_result }}
            {% else %}
                <p>Make a selection</p>
            {% endif %}
        </div>
    </div>
    
    <div class="row">
        {% for spell in random_spells_list %}
        <div class="col-6">
            <p>Description: {{ spell.comical_description }}</p>
            <a href="{% url 'index' spell.id %}" class="btn btn-default">Select</a>
        </div>
        {% endfor %}
    </div>
   
    <div class='col-12 text-center'>
        <a href="{% url 'reset' %}" class="btn btn-default">Reset the quiz.</a>
    </div>
</div>
{% endblock %}