{% extends 'base.html' %} {% block content %}

   <div class='row'>
        <div class="col text-center pt-4">
            {% if result_message %}
                <h1> Congratulations!</h1>
                <a href="{% url 'result' class_type %}" class="btn btn-default btn-styling">{{ result_message }}</a>
            {% elif no_result %}
                {{ no_result }}
            {% else %}
                <h1>Would you rather... </h1>
            {% endif %}
        </div>
    </div>
    
    <div class="row">
        {% for spell in random_spells_list %}
        <a class="btn btn-styling col-md col-sm" href="{% url 'quiz' spell.id %}">
            <p class="desc-styling">{{ spell.description }}</p>   
        </a>   
        {% endfor %}
    </div>
   
    <div class='col-12 text-center'>
        <a class="btn btn-styling" href="{% url 'reset' %}" class="quiz-buttons">Reset the quiz.</a>
    </div>

{% endblock %}