/* GENERAL / SITEWIDE */

body {
    margin-top:50px;
}

h1,h2,h3,a,p,li {
}

.bg-img {
    background-image: url("/static/img/dungeon_background.jpg");
    background-repeat: no-repeat;
    background-position:top;
    background-color: rgba(0,0,0,0.25);
}

/* END OF GENERAL / SITEWIDE */



/* LANDING PAGE */

.landing-title {
    margin-top: 20vh;
    color:aliceblue;
    font-family: fantasy, serif;
}

.landing-blurb {
    color:aliceblue;
}

/* END OF LANDING PAGE */



/* QUIZ PAGE */

.quiz-title {
    color:aliceblue;
}

.spell-desc {
    text-align: center;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* END OF QUIZ PAGE */



/* RESULTS PAGE */

.result-title {
    color:aliceblue;
}

.result-blurb {
    color:aliceblue;
}

/* END OF RESULTS PAGE */



/* UTILITIES */

.btn-styling{
    color:aliceblue;
    border-color: aliceblue;
    margin:20px;
}

.btn-styling:hover {
    color:grey;
    border-color: aliceblue;
    background-color: white;
}

/* END OF UTILITIES */





